@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider {
    overflow: hidden;
}

body {
    text-align: center;
    background: black;
    font-family: sans-serif;
    font-weight: 100;
    overflow: hidden;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
}

#clockdiv>div>span {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}